*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #f2f2f2;
  color: #444;
}

h1,
p {
  margin: 0 0 1em 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}


/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
}

.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 300px;
}

.header,
.footer {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

.product-list-item {
  text-decoration:none;
}

.product-list-item:hover {
  text-decoration:underline;
}

/*Product list info*/
p {
  /*vertical-align: bottom;*/
  background: rgba(0, 0, 0, 0.65);
  padding: 4px 8px;
  color: white;
  margin: 230px 0 0 0;
  font: 14px SansSerif;
}



