*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 30px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #f2f2f2;
  color: #444;
}

h1,
p {
  margin: 0 0 1em 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 20px;
  display: grid;
  grid-gap: 10px;
}


/* no grid support? */

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
}

.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 300px;
}

.header,
.footer {
  margin-left: 5px;
  margin-right: 5px;
  flex: 0 1 100%;
  grid-column: 1 / -1;
}

.wrapper > * {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin-bottom: 10px;
}

@supports (display: grid) {
  .wrapper > * {
    margin: 0;
  }
}

.product-list-item {
  text-decoration:none;
}

.product-list-item:hover {
  text-decoration:underline;
}

/*Product list info*/
p {
  /*vertical-align: bottom;*/
  background: rgba(0, 0, 0, 0.65);
  padding: 4px 8px;
  color: white;
  margin: 230px 0 0 0;
  font: 14px SansSerif;
}

/* Styles for page - Details */
.detail-wrapper {
 /*max-width: 500px;*/
}

.pictures {
  float: left;
  max-width: 500px
}

.details {
  float: right;
  max-width: 700px;
}

.name {

}

.cost {
 color: green;
}

.rating {
  background-color: gold;
  max-width: 80px
}

.long {

}

.button {
  display: inline-block;
  height: 50px;
  width: 180px;
  line-height: 50px;
  padding-right: 15px;
  padding-left: 35px;
  /*position: relative;*/
  /*background-color:rgb(41,127,184);*/
  background: #1abc9c;
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
  filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}







